{% load static %}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Account Information </title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'css/login.css' %}">
    
   </head>
   <body>
    <div class="container">
      <div class="title">Account Information</div>
      <div class="content">
        <form method="POST">
            {% csrf_token %}
        <div class="user-details">
            <div class="input-box">
              <span class="details">Full Name</span>
              {{ form.full_name }}
              {% if form.full_name.errors %}
                <div class="error">{{ form.full_name.errors }}</div>
              {% endif %}
            </div>
            <div class="input-box">
              <span class="details">Address</span>
              {{ form.address }}
              {% if form.address.errors %}
                <div class="error">{{ form.address.errors }}</div>
              {% endif %}
            </div>
            <div class="input-box">
              <span class="details">Phone Number</span>
              {{ form.phone_number }}
              {% if form.phone_number.errors %}
                <div class="error">{{ form.phone_number.errors }}</div>
              {% endif %}
            </div>
            <div class="input-box">
                <span class="details">PAN</span>
                {{ form.PAN }}
                {% if form.PAN.errors %}
                  <div class="error">{{ form.PAN.errors }}</div>
                {% endif %}
              </div>
          </div>
          <div class="button">
            <input type="submit" value="Add information">
          </div>
          <p> <a href="{%url 'main:home'%}">← Go home</a></p>
        </form>
      </div>
    </div>
  </body>
  
</html>