{% extends "signups/base.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}
<body>
    <div class=" d-flex justify-content-center align-items-center">
        <form method = "POST" class=" card w-50 d-flex flex-column m-5 align-items-center">
            <div class="card-header border-bottom-danger w-100 mb-3">
                <p> Are you sure you want to delete this record?</p>
            </div>
            {% csrf_token %}
            {% if source == "STRS" %}
                <div class="btn-success m-3 p-2 d-flex justify-content-center w-50 ">
                    <a href="{%url 'main:strs_information'%}" class="text-gray-100">Cancel</a>
                </div>
            {% else %}
                <div class="btn-success m-3 p-2 d-flex justify-content-center w-50">
                    <a href="{%url 'main:land_information'%}" class="text-gray-100">Cancel</a>
                </div>
            {% endif %}
            <button type="submit" class="btn-danger m-3 p-2 text-gray-100 border-0 w-50 "> Confirm Delete</button>
    
        </form>
    </div>
</body>
{% endblock %}
</html>