{% extends "signups/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/landinfo.css' %}">
    <title>Your Web Page</title>
    <style>
        
    </style>
</head>
{% block content %}
  <body>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-success">Land Information</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Land id</th>
                <th>Province</th>
                <th>Local Level</th>
                <th>Ward</th>
                <th>Kitta Number</th>
                <th>Area</th>
                <th>GPS Longitude</th>
                <th>GPS Latitude</th>
                <th>Greater than 10Ha?</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              {% if land_information_datas %} 
              {% for land_information_data in land_information_datas %}
              <tr>
                <td>{{land_information_data.id}}</td>
                        <td>{{land_information_data.province_id}}</td>
                        <td>{{land_information_data.local_level_id}}</td>
                        <td>{{land_information_data.ward_id}}</td>
                        <td>{{land_information_data.kitta_number}}</td>
                        <td>{{land_information_data.area}}</td>
                        <td>{{land_information_data.gps_latitude}}</td>
                        <td>{{land_information_data.gps_longitude}}</td>
                        <td>{{land_information_data.is_greater_than_10Ha}}</td>
                <td>
                  <div class="border-0 mb-2 w-full btn-success text-center">
                    <a href="{%url 'main:land_information_edit' land_information_data.id %}" class="text-gray-100"> Edit </a>
                  </div>

                  <div class="border-0 mb-2 w-full btn-danger text-center">
                    <a href="{%url 'main:land_information_delete' land_information_data.id%}" class="text-gray-100"> Delete </a>
                  </div>
                </td>
              </tr>

              {% endfor %} 
              {% else %}
              <tr>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
  {% endblock %}
</html>
