{% extends "signups/base.html" %}
{% load static %}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Account Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  {% block content %}
  <body>
    <div class="card m-5">
      <div class="card-header font-weight-bold text-success border-bottom-dark">
        Land Registration
      </div>
      <div class="content p-2">
        <form
          method="POST"
          id="landForm"
          local-level-data-url="{% url 'main:ajax_load_local_level' %}"
          ward-data-url="{% url 'main:ajax_load_ward' %}"
        >
          {% csrf_token %}
          <div class="mt-3">
            <div class="input-box d-flex mb-4">
              <span class="mr-3">Province</span>
              {{ form.province }}
            </div>
            <div class="input-box d-flex mb-4">
              <span class="mr-3">Local Level</span>
              {{ form.local_level }}
            </div>
            <div class="input-box d-flex mb-4">
              <span class="mr-3">Ward</span>
              {{ form.ward }}
            </div>
            <div class="input-box d-flex mb-4">
              <span class="mr-3">Kitta Number</span>
              {{ form.kitta_number }}
            </div>
            <div class="input-box d-flex mb-4">
              <span class="mr-3">Area</span>
              {{ form.area }}
            </div>
            <div class="input-box d-flex mb-4">
              <span class="mr-3">GPS Latitude</span>
              {{ form.gps_latitude }}
            </div>
            <div class="input-box d-flex mb-4">
              <span class="mr-3">GPS Longitude</span>
              {{ form.gps_longitude }}
            </div>
            <div class="input-box d-flex mb-4">
              <span class="mr-3">Is greater than 10Ha?</span>
              {{ form.is_greater_than_10Ha }}
            </div>
          </div>
          <div class="mb-3">
            <input
              type="submit"
              value="Add information"
              class="btn-success border-0 p-2 font-weight-bold"
            />
          </div>
          <p>
            <a
              href="{%url 'main:home'%}"
              class="text-dark btn-dark btn-circle text-gray-100"
              ><i class="fa fa-home"></i
            ></a>
          </p>
        </form>
      </div>
    </div>

  <script src="{%static 'js/ajax.js'%}"></script>
  <script>
   //call function for the change in value of HTML element with id "id_province"
   $("#id_province").change(function () {
     //get url of request for loading local_level
     var url = $("#landForm").attr("local-level-data-url");
     //get the id of province selected
     var province_id = $(this).val();

     //Initialize an ajax request
     $.ajax({
       url: url,
       data: {
         province: province_id,
       },
       success: function (data) {
         $("#id_local_level").html(data);
       },
     });
   });

   $("#id_local_level").change(function () {
     var url_ward = $("#landForm").attr("ward-data-url");
     var local_level_id = $(this).val();

     $.ajax({
       url: url_ward,
       data: {
         local_level: local_level_id,
       },
       success: function (data) {
         $("#id_ward").html(data);
       },
     });
   });
 </script>
  </body>
  {% endblock %}

</html>
