@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins',sans-serif;
        }

body {
    font-family: Arial, sans-serif;
    background-color: #3dc7c53f;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 90%;
    background: none;
    padding: 20px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 10px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    height: 490px; /* Increase the height as needed */
}

.card h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #0d9e97;
}

.card p {
    font-size: 16px;
}

.logout-button {
    background: #0d9e97;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.logout-button:hover {
    border: 2px solid #0d9e97;
    color: #0d9e97;
    background-color: rgba(255,255,255,0.2);
    transition: 0.2s ease-in;
    transform: scale(1.1);
}
a{
    text-decoration: none;
    color: #0a726d;
}
a:hover{
    color: #0000009d;
    text-decoration: underline;
    transition: 0.5s ease-in-out;
}